.header {
    margin: 3rem 0 1.5rem 0;
    width: clamp(20rem, 10vw + 20rem, 42rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header h1 {
    margin: 0.5rem;
}

.toggle_mode {
    display: flex;
    gap: 2rem;
}

.toggle_mode button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
